/* header */

header{
    height: 100px;
}

#header_top{
    background-color: black;
}

/* main */




/* debug */

.debug #header_bottom{
    height: 70px;
    background-color: brown;
}

.debug .box{
    height: 100px;
    background-color: cornflowerblue;
    border: 1px solid black;
}

.debug #jumbotron{
    height: 500px;
    background-color: darkcyan;
}

.debug #it_takes_two{
    height: 450px;
    background-color: darkgray;
}